section {
    font-size: 3rem;
    position: relative;
    height: 100vh;

    h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}




section:nth-child(odd) {
    // background-color: grey;
    color: white;
    background-color: #b61924;

}