.particle-sec {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .content_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .content-box {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .particle-heading {
            font-size: 5em;
        }
    }
}




.particle-sec:nth-child(even) {
    color: white;
    background-color: #b61924;

}